<aside class="offcanvas offcanvas-start wzm-business-card" tabindex="-1" id="wzmBusinessCard" aria-labelledby="Business Card">
    <div class="button">
        <button type="button" class="wzm-btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <svg class="icon"><use xlink:href="#vcard" /></svg>
        </button>
    </div>
    <div class="header">
        <div class="profile-photo">
            <a href="/">
                <img src="/assets/images/fallout-profile-picture.webp" alt="profile photo">
            </a>
        </div>
        <h5 class="profile-name">王启年</h5>
        <p class="profile-excerpt">前端开发者
            <br>
            <small>( Front-end web developer )</small>
        </p>
    </div>
    <div class="body">
        <div class="profile-info">
            <ul>
                <li>年龄:<span>33</span></li>
                <li>城市:<span>潍坊 · 中国</span></li>
<!--                <li>邮箱:<span>2296577065@qq.com</span></li>-->
                <li>状态:<span>可雇佣</span></li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-facts">
            <ul>
                <li>
                    <svg class="icon"><use xlink:href="#people" /></svg>
                    <span class="number">1</span>
                    <span>客户</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#clipboard" /></svg>
                    <span class="number">1</span>
                    <span>项目</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#headset" /></svg>
                    <span class="number">9</span>
                    <span>服务小时数</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-language">
            <ul>
                <li>
                    <svg class="icon"><use xlink:href="#ring1" /></svg>
                    <span>100%</span>
                    <span>中文</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#ring2" /></svg>
                    <span>80%</span>
                    <span>English</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#ring3" /></svg>
                    <span>80%</span>
                    <span>日本語</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-skills">
            <ul>
                <li>
                    <div class="text">
                        html<span>90</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress1" /></svg>
                </li>
                <li>
                    <div class="text">
                        css<span>90</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress2" /></svg>
                </li>
                <li>
                    <div class="text">
                        js<span>80</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress3" /></svg>
                </li>
                <li>
                    <div class="text">
                        php<span>80</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress4" /></svg>
                </li>
                <li>
                    <div class="text">
                        wordpress<span>80</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress5" /></svg>
                </li>
                <li>
                    <div class="text">
                        photoshop<span>80</span>
                    </div>
                    <svg class="icon"><use xlink:href="#progress6" /></svg>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-knowledge">
            <ul>
                <li>
                    <svg class="icon"><use xlink:href="#check" /></svg>
                    服务器环境搭建<br><span>( Server environment setup )</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#check" /></svg>
                    响应式网站制作<br><span>( Responsive website )</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#check" /></svg>
                    多语言网站制作<br><span>( Multilingual website )</span>
                </li>
                <li>
                    <svg class="icon"><use xlink:href="#check" /></svg>
                    SEO优化<br><span>( Seo services )</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="download"></div>
    </div>
</aside>