<aside class="site-aside-wrap">
    <div class="site-aside">
        <div class="container-lg">
            <ul class="list-unstyled mb-0 row row-cols-3 row-cols-xl-1">
                <li class="col site-aside-item">
                    <a href="javascript:void(0)" onClick="javascript:history.back(-1);" title="返回上一页">
                        <img class="d-none d-xl-block" src="{{ site.baseurl | relative_url }}/assets/img/history.svg" alt="">
                        <span class="d-xl-none">返回上一页</span>
                    </a>
                </li>
                <li class="col site-aside-item">
                    <a href="#site-content" title="回到顶部">
                        <img class="d-none d-xl-block" src="{{ site.baseurl | relative_url }}/assets/img/arrow-up.svg" alt="">
                        <span class="d-xl-none">回到顶部</span>
                    </a>
                </li>
                <li class="col site-aside-item">
                    <a href="mailto:wangzhaomin@wangzhaomin.com?subject=发现错误" target="_blank" title="发现错误">
                        <img class="d-none d-xl-block" src="{{ site.baseurl | relative_url }}/assets/img/email.svg" alt="">
                        <span class="d-xl-none">发现错误</span>
                    </a>
                </li>
                <li class="col site-aside-item d-none d-xl-block">
                    <a href="#site-footer" title="前往底部">
                        <img class="site-aside-item-bottom-down-icon" src="{{ site.baseurl | relative_url }}/assets/img/arrow-up.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<footer id="site-footer" class="site-footer">
    <div class="container-lg">
        <div class="beian">
            <a href="javascript:void(0)" onClick="javascript:history.back(-1);" title="回到过去的地点">艾斯登提亚羽毛</a>
        </div>
    </div>
</footer>
<script src="{{ site.baseurl | relative_url }}/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="{{ site.baseurl | relative_url }}/assets/js/bootstrap.bundle.min.js"></script>
<!--<script src="https://gongxiang-1256119950.cos.ap-chengdu.myqcloud.com/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://gongxiang-1256119950.cos.ap-chengdu.myqcloud.com/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>-->
<script src="{{ site.baseurl | relative_url }}/assets/js/wzm.js"></script>
{%- if {{page.url}} == '/page/tags/' -%}
<script src="{{ site.baseurl | relative_url }}/assets/js/wzm_tags.js"></script>
{%- endif -%}