<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- seo -%}
    <link href="{{ site.baseurl | relative_url }}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link href="{{ baseurl | relative_url }}/assets/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://gongxiang-1256119950.cos.ap-chengdu.myqcloud.com/bootstrap-4.5.3-dist/css/bootstrap.min.css">-->
    <link href="{{ site.baseurl | relative_url }}/assets/css/style.css" rel="stylesheet">
    {%- feed_meta -%}
</head>