<aside class="site-cv shadow">
    <div class="header shadow">
        <a class="profile-photo" href="/"><img src="/assets/images/fallout-profile-picture.webp" role="img" aria-label="Profile photo" alt="Profile photo"></a>
        <h5 class="profile-name">王启年</h5>
        <span class="profile-occupation">前端开发者<br><small>( Front-end web developer )</small></span>
    </div>
    <div class="body">
        <div class="profile-info">
            <ul>
                <li>城市:<span>潍坊 · 中国</span></li>
                <li>年龄:<span>33</span></li>
                <li>状态:<span>可雇佣</span></li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-facts">
            <ul>
                <li>
                    <svg class="icon" role="img" aria-label="Client"><use xlink:href="#people" /></svg>
                    <span class="number">2</span>
                    <span>客户</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Project"><use xlink:href="#clipboard" /></svg>
                    <span class="number">2</span>
                    <span>项目</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Service time"><use xlink:href="#headset" /></svg>
                    <span class="number">27</span>
                    <span>服务小时数</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-language">
            <ul>
                <li>
                    <svg class="icon" role="img" aria-label="Chinese"><use xlink:href="#ring1" /></svg>
                    <span class="number">100%</span>
                    <span>中文</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="English"><use xlink:href="#ring2" /></svg>
                    <span class="number">80%</span>
                    <span>English</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Japanese"><use xlink:href="#ring3" /></svg>
                    <span class="number">80%</span>
                    <span>日本語</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-skills">
            <ul>
                <li>
                    <div class="text">
                        html<span>90</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Html icon"><use xlink:href="#progress1" /></svg>
                </li>
                <li>
                    <div class="text">
                        css<span>90</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Css icon"><use xlink:href="#progress2" /></svg>
                </li>
                <li>
                    <div class="text">
                        js<span>80</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Js icon"><use xlink:href="#progress3" /></svg>
                </li>
                <li>
                    <div class="text">
                        php<span>80</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Php icon"><use xlink:href="#progress4" /></svg>
                </li>
                <li>
                    <div class="text">
                        wordpress<span>80</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Wordpress icon"><use xlink:href="#progress5" /></svg>
                </li>
                <li>
                    <div class="text">
                        photoshop<span>80</span>
                    </div>
                    <svg class="icon" role="img" aria-label="Photoshop icon"><use xlink:href="#progress6" /></svg>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="profile-knowledge">
            <ul>
                <li>
                    <svg class="icon" role="img" aria-label="Tick icon"><use xlink:href="#check" /></svg>
                    服务器环境搭建<br><span>( Server environment setup )</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Tick icon"><use xlink:href="#check" /></svg>
                    响应式网站制作<br><span>( Responsive website )</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Tick icon"><use xlink:href="#check" /></svg>
                    多语言网站制作<br><span>( Multilingual website )</span>
                </li>
                <li>
                    <svg class="icon" role="img" aria-label="Tick icon"><use xlink:href="#check" /></svg>
                    SEO优化<br><span>( Seo services )</span>
                </li>
            </ul>
        </div>
        <hr class="hr">
        <div class="download">
            <a href="javascript:void(0)" class="disabled">下载简历<svg class="icon" role="img" aria-label="Download CV"><use xlink:href="#cloud" /></svg>（暂不可用）</a>
        </div>
    </div>
</aside>