@charset "utf-8";
/*屏幕宽度大于1200px*/
@media (min-width: 1200px) {
    /*全局*/
    body {
        font-size: 1rem;
    }

    /*首页*/
    .header-nav .nav-link {
        padding: 0 0 0 1.5rem !important;
        font-weight: bold;
    }
    .post-list-item {
        margin-top: 1rem;
    }
    .page-content {
        margin-top: 5rem;
    }


    /*侧边栏*/
    .site-aside-wrap {
        top: 40%;
        right: 2rem;
        bottom: auto;
        left: auto;
        width: 3.5rem;
        overflow: hidden;
        border-radius: .25rem;
        opacity: 1;
    }
    .site-aside {
        margin-bottom: 0;
        height: auto;
    }
    .site-aside-item {
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem 1rem 0;
    }
    .site-aside-item a {
        width: 1.5rem;
        height: 2.5rem;
        padding-bottom: 1rem;
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .site-aside .site-aside-item:last-child a {
        border-bottom: none;
    }
    .site-aside-item a img {
        width: 1.3rem;
        height: 1.3rem;
    }
    .site-aside-item-bottom-down-icon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }


    /*文章内容页*/
    .post-wrap {
        max-width: 768px;
        margin: 0 auto;
        padding-top: 1rem;
    }
    .post-title {
        font-size: 1.5rem;
    }
    .post-body h2,
    .post-body h3,
    .post-body h4,
    .post-body h5,
    .post-body h6 {
        font-size: 1.25rem;
    }
    .post-body *+h2,
    .post-body *+h3,
    .post-body *+h4,
    .post-body *+h5,
    .post-body *+h6 {
        margin-top: 3rem;
    }

    /*底部提示语 羽毛*/
    .beian {
        max-width: 768px;
        margin: 0 auto;
        text-align: center;
    }

    .highlight {
        padding: 1.25rem 1.25rem 1rem;
    }
    .highlight pre {
        padding-bottom: .25rem;
    }
    /*滚动条样式设置 属性介绍：https://webkit.org/blog/363/styling-scrollbars/ */
    .highlight pre::-webkit-scrollbar {
        /* width 表示垂直滚动条的宽度*/
        width: .5rem;
        /* height 表示水平滚动条的高度*/
        height: .5rem;
    }
    /*滚动条的样式*/
    .highlight pre::-webkit-scrollbar-thumb {
        border-radius: 50rem;
        background-color: rgba(255,255,255,.3);
    }
    /*滚动条轨道的样式*/
    .highlight pre::-webkit-scrollbar-track {
        background: #001628;
    }
    /* 滚动条样式 —— 新兴的W3C标准，目前只有火狐支持 */
    .highlight pre {
        scrollbar-width: thin;
        scrollbar-color: rgba(255,255,255,.3);
    }
}