{%- include header.html -%}
<main class="page-main">
{%- include aside.html -%}
<div class="page-main-wrap home-page">
{%- include bg.html -%}
<!--主页内容开始-->
<div class="banner" id="Banner">
    <div class="wrap">
        <img src="https://api.dujin.org/bing/1920.php" alt="壁纸">
    </div>
</div>
<section class="our-advantage">
    <header>
        <h2 class="title">我们的优势</h2>
    </header>
    <div class="main">
        <ul>
            <li>
                <div class="wrap">
                    <div class="img">
                        <svg class="icon"><use xlink:href="#easel" /></svg>
                    </div>
                    <div class="text">
                        <h4 class="title">展示型网站</h4>
                        <p>企业网站、个人博客，只要是展示型的都可以做。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrap">
                    <div class="img">
                        <svg class="icon"><use xlink:href="#coin" /></svg>
                    </div>
                    <div class="text">
                        <h4 class="title">低价格</h4>
                        <p>作为一个新人，不会要求超过太高的报酬。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrap">
                    <div class="img">
                        <svg class="icon"><use xlink:href="#square" /></svg>
                    </div>
                    <div class="text">
                        <h4 class="title">快服务</h4>
                        <p>提交完需要的材料后，承诺七个工作日内上线网站，超过后全额退款。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrap">
                    <div class="img">
                        <svg class="icon"><use xlink:href="#chat" /></svg>
                    </div>
                    <div class="text">
                        <h4 class="title">免费问答</h4>
                        <p>不提交订单也可以问问题，不保证一定能解决，毕竟我也是新人。</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="my-services">
    <header class="header">
        <h2 class="title">我的服务</h2>
    </header>
    <ul class="main">
        <li>
            <div class="wrap">
                <h3 class="title">网站制作</h3>
                <p>
                    根据客户的PSD稿件制作对应的网站，包括和不限于响应式和多语言。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
        <li>
            <div class="wrap">
                <h3 class="title">作业辅导</h3>
                <p>
                    如果学校作业和建立网站有关，也可以联系我。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
        <li>
            <div class="wrap">
                <h3 class="title">服务三</h3>
                <p>
                    准备中。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
        <li>
            <div class="wrap">
                <h3 class="title">服务四</h3>
                <p>
                    准备中。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
        <li>
            <div class="wrap">
                <h3 class="title">服务五</h3>
                <p>
                    准备中。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
        <li>
            <div class="wrap">
                <h3 class="title">服务六</h3>
                <p>
                    准备中。
                </p>
                <a href="javascript:void(0)">了解更多</a>
            </div>
        </li>
    </ul>
</section>
<section class="price-plans">
    <header class="header">
        <h2 class="title">价格方案</h2>
    </header>
    <div class="main">
        <div class="item">
            <div class="wrap">
                <h3 class="title">普通网站制作</h3>
                <div class="price">999<span>￥</span></div>
                <div class="content">
                    <ul>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            网站制作（源码交付）
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            响应式设计
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            SSL证书安装
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            协助购买域名
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            协助购买服务器
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            协助备案
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            网站留言提醒功能（邮件通知）
                        </li>
                        <li>
                            <svg class="icon"><use xlink:href="#check" /></svg>
                            中英文语言切换（额外付费）
                        </li>
                    </ul>
                </div>
                <a class="more" href="javascript:void(0)">了解更多</a>
            </div>
        </div>
        <div class="item">
            <div class="wrap">
                <h3 class="title">套餐二</h3>
                <p class="annotation">准备中</p>
            </div>
        </div>
        <div class="item">
            <div class="wrap">
                <h3 class="title">套餐三</h3>
                <p class="annotation">准备中</p>
            </div>
        </div>
    </div>
</section>
<section class="recommendations">
    <header class="header">
        <h2 class="title">客户推荐</h2>
    </header>
    <div class="main">
        <div id="recommendationsCarousel" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#recommendationsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#recommendationsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#recommendationsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="wrap">
                        <img src="/assets/images/fallout-profile-picture.webp" alt="profile photo">
                        <h5 class="name">Matt Brandon</h5>
                        <div class="position">Freelancer</div>
                        <p class="comment">
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="wrap">
                        <img src="/assets/images/fallout-profile-picture.webp" alt="profile photo">
                        <h5 class="name">Matt Brandon</h5>
                        <div class="position">Freelancer</div>
                        <p class="comment">
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="wrap">
                        <img src="/assets/images/fallout-profile-picture.webp" alt="profile photo">
                        <h5 class="name">Matt Brandon</h5>
                        <div class="position">Freelancer</div>
                        <p class="comment">
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#recommendationsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recommendationsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section class="partners">
    <header class="header">
        <h2 class="title">合作伙伴</h2>
    </header>
    <div class="main">
        <ul>
            <li>
                <img src="{{ site.url }}/assets/images/partners-1.png" alt="">
            </li>
            <li>
                <img src="{{ site.url }}/assets/images/partners-1.png" alt="">
            </li>
            <li>
                <img src="{{ site.url }}/assets/images/partners-1.png" alt="">
            </li>
            <li>
                <img src="{{ site.url }}/assets/images/partners-1.png" alt="">
            </li>
        </ul>
    </div>
</section>
<!--主页内容结束-->
{%- include footer.html -%}
</div>
{%- include aside-right.html -%}
</main>
{%- include nav.html -%}
{%- include footer-js.html -%}