---
layout: default
---
<div class="container-lg">
    <div class="post-wrap">
        <article class="post rounded p-3 p-lg-5">
            <header class="post-header">
                <h1 class="post-title">
                    {{ page.title | escape }}
                </h1>
                <p class="post-date text-muted">
                    <small>发布时间: <span>{{ page.date | date: "%Y-%m-%d" }}</span></small>
                </p>
            </header>
            <hr>
            <div class="post-body">
                {{ content }}
                <hr>
                <p class="post-body-end-mark">
                    正文结束，如有错误或者遗漏请点击屏幕下方或右侧的“发现错误”告诉我。
                </p>
            </div>
        </article>
    </div>
</div>