---
layout: base
---
<div class="single-product">
    <div class="single-header">
        <h1 class="title">{{ page.title }}</h1>
    </div>
    <div class="single-banner" id="Banner">
        <img src="{{ page.thumbnail }}" alt="{{ page.title }}">
    </div>
    <section class="single-product-details">
        <header class="header">
            <h2 class="title">项目简介</h2>
        </header>
        <div class="content">
            <div class="single-product-description rounded shadow">
                <h5 class="title d-none">摘要</h5>
                <p class="excerpt">{{ page.excerpt }}</p>
            </div>
            <div class="single-product-info rounded shadow">
                <ul>
                    <li>开始时间：<span>{{ page.order }}</span></li>
                    <li>完成时间：<span>{{ page.final }}</span></li>
                    <li>当前状态：<span>{{ page.status }}</span></li>
                    <li>客户：<span>{{ page.client }}</span></li>
                    <li>地址：<span>{{ page.location }}</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="single-product-result">
        <header class="header">
            <h2 class="title">项目展示</h2>
        </header>
        <div class="single-content rounded shadow" id="SingleContent">
            {{ content }}
        </div>
        <footer class="single-footer">
            {%- include single-navigation.html -%}
        </footer>
    </section>
</div>